<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/pico.min.css">
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
